.leftarea {
  background: #eceef5;
  width: 295px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 6px #d7d1d1;
}

.leftarea-options {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 35px;
  flex-direction: column;
  line-height: 55px;
}

.icons {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
  padding-left: 26%;
  border-radius: 20px;
}
.icons:hover {
  background: #c7c5c5;
}

@media only screen and (max-width: 992px) {
  .leftarea {
    display: none;
  }
}
