<div class="leftarea">
    <div class="leftarea-options">
      <div class="d-flex flex-column w-100">
        <span class="icons"
          ><i class="bi bi-house" style="margin-right: 6px"></i
          ><span>Home</span></span
        >
        <span class="icons"
          ><i class="bi bi-heart" style="margin-right: 6px"></i
          ><span>Wishlist</span></span
        >
        <span class="icons" routerLink="/myproperty"
          ><i class="bi bi-houses" style="margin-right: 6px"></i
          ><span>Myproperty</span></span
        >
        <span class="icons"
          ><i class="bi bi-question-circle" style="margin-right: 6px"></i
          ><span>Help</span></span
        >
        <span class="icons"
          ><i class="bi bi-people" style="margin-right: 6px"></i
          ><span>About us</span></span
        >

      </div>
    </div>
    <div style="padding: 35px">
      <img
        src="assets/images/no1.jpeg"
        alt="tag"
        class="d-block w-80 img-fluid"
        style="height: 300px; width: 100%; border-radius: 10px"
      />
    </div>
  </div>