.body {
  display: flex;
  flex-direction: column;
}

.leftarea {
  background: #eceef5;
  width: 19.5%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 6px #d7d1d1;
}

header {
  display: flex;
  align-items: center;
  height: 82px;
  justify-content: start;
}

.logo {
  width: 100px;
  height: 65px;
}

.leftarea-options {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 35px;
  flex-direction: column;
  line-height: 55px;
}

.icons {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
  padding-left: 26%;
  border-radius: 20px;
}
.icons:hover {
  background: #c7c5c5;
}

nav {
  /* display: flex;
      padding: 20px 5px;
      justify-content: space-between; */
  /* border-bottom: 1px solid #c7c5c5; */
  flex-wrap: wrap;
}

.notfound {
  display: flex;
  column-gap: 11px;
  justify-content: center;
  margin-top: 40px;
}

.searchbox {
  /* border: 1px solid grey;
      border-radius: 48px;
      padding: 5px 0px 5px 21px; */
  max-width: 680px;
  width: 100%;
  position: relative;
  display: flex;
  height: 2.5rem;
  /* border: 1px solid grey; */
  border-radius: 4rem;
  background: #f2f3f7;
}

:is(:hover).searchbox {
  box-shadow: inset 6px 6px 17px #c2c2ee;
}

.search {
  /*position: absolute; */
  /* top: 0.5rem; */
  /* left: 0.5rem; */
  display: grid;
  place-items: center;
  height: 2.4rem;
  width: max-content;
  padding: 9px;
  font-size: 0.875rem;
  border-radius: inherit;
  background: #1841ff;
  color: #fff;
  pointer-events: none;
  transition: all 0.35s;
  letter-spacing: 1px;
}

.inputbox {
  flex: 1 1 auto;
  /* padding-left: 6.5rem; */
  width: 100%;
  height: inherit;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 1rem;
  text-indent: 0.625rem;
  transition: all 0.35s;
}

.top-features {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btnn {
  background: #eceef5;
  border-radius: 40px;
  height: 2.5rem;
  vertical-align: middle;
  width: 132px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 0;
}
.btn {
  background: #eceef5;
  border-radius: 8px;
  /* height: 2.5rem; */
  /* width: 132px; */
}
.btnn:hover {
  background: #9e9fa0;
}

.btn:hover {
  background: #9e9fa0;
}

.left-user {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  width: max-content;
  box-shadow: 4px -2px 6px #d7d1d1;
}

.card {
  margin-bottom: 30px;
  width: 350px;
  box-shadow: 0px 0px 12px #cecfd0;
  overflow: hidden;
  background: whitesmoke;
  box-shadow: 3px 3px 20px #a1a3a5;

  /* margin-right: 20px; */
}
.normal-filters {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.filters::-webkit-scrollbar {
  width: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 2rem;
  flex-wrap: wrap;
}

.drop-show {
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 5;
  justify-content: space-evenly;
  background: #f7f7f7;
  padding: 10px;
  line-height: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid grey;
  border-top: 0;
  font-size: smaller;
  row-gap: 10px;
}

img {
  transition: transform 0.2s;
}

img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* footer {
  width: 100%;
  display: none;
  position: fixed;

  z-index: 2;

  flex-direction: row;

  height: 56px;
  background: #e4dfdf;
  justify-content: space-evenly;
  bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

/* footer {
    display: none;
  } */

@media only screen and (min-width: 992px) {
  .navbar-brand {
    width: 296px;
    background: #eceef5;
  }
  .right-area {
    width: 78%;
    margin-left: 300px;
  }

  .bi-list {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .leftarea {
    display: none;
  }
  nav {
    border-bottom: 1px solid #c7c5c5;
    background: #eceef5;
  }
  .btnn {
    display: none;
  }
  .navbar-brand {
    box-shadow: 0px 0px 0px #d7d1d1;
  }
  .bi-list {
    display: block;
  }
}

/* .right-area{
      width: 100%;
      margin-left: 0;
     } */

@media only screen and (max-width: 430px) {
  .viewall {
    width: 100%;
    text-align: end;
  }
  .top-features {
    justify-content: center;
  }

  .normal-filters {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }

  .filters {
    justify-content: left;
    overflow-x: overlay !important;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .btn {
    background: #eceef5;
    border-radius: 40px;
    /* height: 1.5rem; */
    vertical-align: middle;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin-bottom: 56px;
  }
}
